*{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body{
    font-size: 32px;
}

.mb-20{
    margin-bottom: 20px;
}

.container{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.title{
    position: relative;
    font-size: 48px;
}

.marker{
    width: 100%;
    height: 35%;
    background-color: yellow;
    position: absolute;
    bottom: 5%;
    z-index: -1;
}

.start-botton{
    background-color: #333;
    color: #fff;
    padding: 4px 60px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.clear{
    color: skyblue;
    text-align: center;
}

.clear img{
    height: 400px;
}

.start-botton:hover{
    opacity: 0.7;
}

.question{
    color: gray;
}

.question-img{
    height: 400px;
    background-repeat: no-repeat;
}

.type-form-wrapper{
    border-bottom: 1px solid gray;
}

.type-form{
    outline: none;
    border: none;
    text-align: center;
}

.guage-wrapper{
    border: 1px solid;
    height: 12px;
}

.guage{
    height: 12px;
    transition: all .3s ease;
}
